:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body{
  background-color: blueviolet;
  color:rgb(242, 246, 244);
}
.titulo {
  color:rgb(242, 246, 244);
  background-color: rgb(13, 63, 241);
}

#seleccionar-mascota{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subititulo{
  color: aliceblue;
}
.tarjetas{
  display: flex;  
}

.tarjeta-de-mokepon{
  width: 200px;
  height: 100px;
  background:rgb(22, 57, 135);
  padding: 20px;
  box-sizing: border-box;
  margin: 10px;
  border: 1px solid hotpink;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjeta-de-mokepon img{
  width: 80px;
}

button{
  width: 300px;
  height: 30px;
  border-radius: 20px;
  background:rgb(255, 127, 148);
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
  border: 1px solid hotpink;
  border-radius: 20px;
  color:rgb(242, 246, 244);
}

input{
  display: none;
}

#seleccionar-ataque{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton-de-ataque{
  background-color: rgb(3, 3, 102);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 10px;
  border-color: transparent;
  width: 100px;
  color: white;
  font-family: 'Popins',sans-serif;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
